:root {
  --theme1: #963634;
  --theme2: #fcf6f1;
  --theme3: rgb(32, 32, 32);
}

body {
  width: 100%;
  background-color: rgb(233, 231, 231);
}

.page {
  margin: 2% auto;
  width: 21cm;
  height: 29.7cm;
  background-color: var(--theme2);
  box-shadow: 0 0 32px 8px rgb(161, 157, 157);
}

.section {
  padding: 2% 12%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section--header {
  color: var(--theme1);
  display: flex;
  justify-content: space-between;
}

.section--header button {
  height: 1.8em;
  width: 1.8em;
}

.section--content {
  color: var(--theme3);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--theme1);
  color: var(--theme2);
  padding-top: 7%;
  padding-bottom: 4%;
  margin-bottom: 2%;
}

.header h1 {
  font-size: 35px;
  margin-bottom: 7px;
}

.header--details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header--profile-pic {
  width: 150px;
  border-radius: 50%;
}

.entry {
  display: flex;
  gap: 12px;
  align-items: baseline;
  padding-bottom: 5px;
}

.entry--date,
.entry--descriptor {
  /* border: 1px red solid; */
  flex: 0 0 20%;
  font-size: xx-small;
}

.entry--details {
  /* border: 1px blue solid; */
  flex: 1 1 80%;
}

.entry--details-title {
  font-size: small;
}

.entry--details-description {
  font-size: small;
}

.hidden {
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 107, 181, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
