:root {
  --theme1: #963634;
  --theme2: #fcf6f1;
  --theme3: rgb(32, 32, 32);
}

body {
  width: 100%;
  background-color: rgb(233, 231, 231);
}

.page {
  margin: 2% auto;
  width: 21cm;
  height: 29.7cm;
  background-color: var(--theme2);
  box-shadow: 0 0 32px 8px rgb(161, 157, 157);
}

.section {
  padding: 2% 12%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section--header {
  color: var(--theme1);
  display: flex;
  justify-content: space-between;
}

.section--header button {
  height: 1.8em;
  width: 1.8em;
  cursor: pointer;
}

.section--content {
  color: var(--theme3);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--theme1);
  color: var(--theme2);
  padding-top: 7%;
  padding-bottom: 4%;
  margin-bottom: 2%;
}

.header h1 {
  font-size: 35px;
  margin-bottom: 7px;
}

.header--details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header--profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.entry--wrapper {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 12px;
  padding-bottom: 5px;
}

.entry--content {
  flex: 1;
}

.entry {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.entry--sidebar {
  flex-basis: 12%;
  font-size: xx-small;
}

.entry--details {
  flex-basis: 88%;
}

.entry--details-title {
  font-size: small;
}

.entry--details-description {
  font-size: small;
}

.entry--buttons {
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

.editButton,
.deleteButton {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.editButton.header {
  font-size: large;
  background-color: rgba(255, 255, 255, 0.2);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faded {
  opacity: 0.5;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(32, 32, 32, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 14px 4px var(--theme3);
}

form {
  display: flex;
  flex-direction: column;
  padding: 22px;
  gap: 7px;
  min-width: 330px;
  border-radius: 4px;
  background-color: var(--theme2);
  color: var(--theme1);
}

textarea {
  font-family: inherit;
  font-size: small;
}

.hidden {
  display: none !important;
}
